@media screen and (max-width: 576px) {
    /* navbar section start */
    .navbar-container{
        max-width: 100%;
        box-shadow: none;
    }
    .navbar-content{
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }
    .nav-left-content{
        margin-bottom: 30px;
    }
    .nav-rihgt-content ul{
        flex-direction: column;
    }
    .nav-rihgt-content{
        flex-direction: column;
        margin-bottom: 10px;
    }
    .nav-rihgt-content li{
        margin-bottom: 30px;
    }
    /* navbar section end */

    /* banner section start */
    .banner-container{
        max-width: 100%;
    }
    .banner-content{
        flex-direction: column-reverse;
        padding: 15px;
    }
    .banner-left-content{
        padding: 20px;
    }
    .banner-right-content img{
        width: 100%;
        margin-bottom: 15px;
    }
    /* banner section end */

}


@media screen and (min-width: 576px) and (max-width: 992px){
    .navbar-container{
        max-width: 100%;
    }
    .navbar-content {
        padding: 15px 10px;
    }
    /* banner section start */
    .banner-container{
        max-width: 100%;
        padding: 0 20px 0 30px;
    }
    .banner-content{
        padding: 15px;
    }
    .banner-right-content img{
        width: 100%;
    }
    #rogue-btn{
        margin-left: 0;
        margin-top: 10px;
    }
    /* banner section end */
}


















