@media screen and (max-width: 576px) {
    /* navbar section start */
    .navbar-container{
        max-width: 100%;
        box-shadow: none;
    }
    .navbar-content{
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }
    .nav-left-content{
        margin-bottom: 30px;
    }
    .nav-rihgt-content ul{
        flex-direction: column;
    }
    .nav-rihgt-content{
        flex-direction: column;
        margin-bottom: 10px;
    }
    .nav-rihgt-content li{
        margin-bottom: 30px;
    }
    /* navbar section end */

    /* banner section start */
    .banner-container{
        max-width: 100%;
    }
    .banner-content{
        flex-direction: column-reverse;
        padding: 15px;
    }
    .banner-left-content{
        padding: 20px;
    }
    .banner-right-content img{
        width: 100%;
        margin-bottom: 15px;
    }
    /* banner section end */

    /* we are gamer section start */
    .gamer-container{
        max-width: 100%;
    }
    .gamer-content{
        flex-direction: column;
        padding: 15px;
    }
    .gamer-left-content img{
        width: 100%;
    }
    .gamer-right-content{
        width: 100%;
        text-align: center;
    }
    /* we are gamer section end */

    /* funny videos section start */
    .funny-videos-container{
        margin-bottom: 20px;
    }
    .funny-videos-content{
        grid-template-columns: 1fr;
    }
    .funny-videos p{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    /* funny videos section end */

    /* no download section start */
    .no-download-container{
        max-width: 100%;
        padding: 15px;
    }
    .nodownload-left-content{
        width: 80%;
        text-align: center;
        margin-left: 0%;
        margin-bottom: 20px;
    }
    .nodownload-right-content img{
        width: 100%;
    }
    .nodownload-right-content > div {
        top: 70%;
        left: -24%;
    }
    .nodownload-right-content > div > img{
        margin-left: 25%;
        width: 40%;
    }
    .no-download-content{
        flex-direction: column;
    }
    /* no download section end */

    /* play games section start */
    .play-games-container{
        max-width: 100%;
        padding: 15px;
    }
    .playgames-right-content{
        width: 100%;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .playgames-left-content img{
        width: 100%;
        margin-top: 25px;
    }
    .playgames-left-content > div {
        top: 80%;
        right: 10%;
    }
    .playgames-left-content > div > img{
        margin-right: 25%;
        width: 40%;
        margin-bottom: 50px;
    }
    .play-games-content{
        flex-direction: column;
    }
    /* play games section end */

}


@media screen and (min-width: 576px) and (max-width: 992px){
    .navbar-container{
        max-width: 100%;
    }
    .navbar-content {
        padding: 15px 10px;
    }
    /* banner section start */
    .banner-container{
        max-width: 100%;
        padding: 0 20px 0 30px;
    }
    .banner-content{
        padding: 15px;
    }
    .banner-right-content img{
        width: 100%;
    }
    #rogue-btn{
        margin-left: 0;
        margin-top: 10px;
    }
    /* banner section end */

    /* we are gamer section start */
    .gamer-container{
        max-width: 100%;
    }
    .gamer-content{
        flex-direction: column;
        padding: 15px;
    }
    .gamer-left-content img{
        width: 100%;
    }
    .gamer-right-content{
        text-align: center;
    }
    /* we are gamer section end */

    /* funny videos section start */
    .funny-videos-content{
        grid-template-columns: repeat(2, 1fr);
    }
    .funny-videos p{
        width: 100%;
        margin-bottom: 15px;
    }
    /* funny videos section end */

    /* no download section start */
    .no-download-container{
        max-width: 100%;
        padding: 15px;
    }
    .nodownload-left-content{
        width: 85%;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 0;
    }
    .nodownload-right-content img{
        width: 100%;
    }
    .nodownload-right-content > div {
        top: 70%;
        left: -30%;
    }
    .nodownload-right-content > div > img{
        margin-left: 25%;
        width: 40%;
    }
    /* no download section end */

    /* play games section start */
    .play-gmaes-container{
        max-width: 100%;
        padding: 15px;
    }
    .playgames-right-content{
        width: 85%;
        text-align: center;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .playgames-left-content img{
        width: 100%;
        margin-top: 50px;
    }
    .playgames-left-content > div {
        top: 65%;
        right: -65%;
    }
    .playgames-left-content > div > img{
        margin-right: 25%;
        width: 40%;
    }
    /* play games section end */
}


















